#TEST_MAP {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.load-slide {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.load-slide-fast {
    animation: 0.25s ease-out 0s 1 slideInFromLeft;
}

.unload-slide {
    animation: 1s ease-out 0s 1 slideOutToLeft;
}

.back-link {
    color: #000000;
    font-size: large;
    text-decoration: none;
    transition: 0.5s;

}

.back-link:hover {
    font-size: larger;
    transition: 0.5s;
    color: #4182dc;
}

.login-link {
    color: #4182dc;
    text-decoration: none;
    transition: 0.5s;
}

.login-link:hover {
    color: #37465f;
    text-decoration: underline;
    transition: 0.5s;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}